## Ignore Visual Studio & .NET build artifacts
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Re]leasePublic/
x64/
x86/
build/
bin/
obj/

# Visual Studio files
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# OS files
Thumbs.db
ehthumbs.db
Desktop.ini

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Mono/Android specific
*.apk
*.ap_
*.dex
*.class
bin/
obj/
